@charset "utf-8";

/*reset*/
*{margin: 0;padding: 0;box-sizing: border-box;color: #333;
	font-family: 'Jua', sans-serif;}
a:link, a:visited{text-decoration: none;color: #333;}
li{list-style: none; }
.clearfix:after{content: "";display: block; clear: both;}
img{display: block;}


/*요소*/
.bg-main{background: #ec0927;}
.bg-dGray{background: #3e3e3e;}
.bg-main-font{color: #ec0927;}
.a1-font{font-family: 'Gothic A1', sans-serif;}
.text-lGray{color: #a1a1a1;}
.text-main{color: #ec0927;}

.container .bx-wrapper{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;}

.fa-bars{transform: scale(1.5); }

/*메뉴바*/
#topMenu li{font-size: 25px;margin-right: 5px;}
/*버튼*/
.container button a{color: white}
/*그레이 배경*/
.bg-gray{background: #f2f2f2}


/*1.메인 =====================================================================*/
/*메인-이벤트*/
.mainevent>h3{text-align: center;}
.card{overflow: hidden;}
.card>img:hover{transform: scale(1.1);transition: 0.3s;}
.card-body h5,.card-body p{font-family: 'Gothic A1', sans-serif;}

/*메인-메뉴*/
.mainmenu .row .menuTxt{width: 100%;}
.mainmenu .row .menuTxt h3{float: left;margin-bottom:0!important;}
.mainmenu .row .menuTxt img{
				float: right;margin-right: 1%;}
.mainmenu .row .menuTxt img:hover{animation : plus 0.7s ease-out;}
	@keyframes plus{
		0%{transform: rotate(0);}
		80%{transform: rotate(210deg);}
		90%{transform: rotate(170deg);}
		100%{transform: rotate(180deg);}
	}
.mainmenu .row .menuTxt:after{content: "";width: 99%;height: 2px;background: #333; display: block;}
.mainmenu .row .mainMwrap1 img{float: left;}
.mainmenu .row .mainMwrap1 img:hover{transform: scale(1.05); transition: 0.3s;}

.mainmenu .row .mainMwrap1 .mainMbox1{
		height: 230px;
		position: relative;float: left;
		padding-top: 50px;padding-left: 45px;}
.mainmenu .row .mainMwrap1 .mainMbox1 p span{color: #f59da8;}
.mainmenu .row .mainMwrap1 .mainMbox1 button{position: absolute;bottom: 0;}

/*배너*/
.mainbanner{width: 100%; margin: 0 auto;}
.mainbanner img{width: 100%;}

/*푸터*/
footer>.container>img{float: left; margin-right: 60px; padding-top: 35px;}
footer>.container>.fbox1{float: left;}
footer>.container>.fbox2{float: right;}
footer>.container>.fbox1>h3,
footer>.container>.fbox2>h3{
	font-style: italic; font-weight: bold;
	font-family: 'Gothic A1', sans-serif;
	color: #a1a1a1;
	}
footer>.container>.fbox2 ul li{float: right;margin-left: 20px;}
footer>.container>.fbox2 ul li img:hover{transform: scale(1.1); transition: 0.3s;}
footer>.container>.fbox1>p{
	letter-spacing: -1px; 
	font-family: 'Gothic A1', sans-serif;}
/*=====================================================================*/

/*2.쥬씨강점 =====================================================================*/
.sub01-main{width: 100%;}
.sub01-main>ul{margin-bottom:0;}
.sub01-main>ul>li img{position: absolute; z-index: 99;}
.sub01-main>ul>li:nth-child(1) img{right: 500px;filter: drop-shadow(5px 5px 5px #755948); 
	animation : fruOne 1s ease-out alternate forwards;}
	@keyframes fruOne{
		0%{top: 0;}
		100%{top: 50%;}
	}
.sub01-main>ul>li:nth-child(2) img{right: 200px;filter: drop-shadow(5px 5px 5px #755948); 
	animation : fruTwo 0.9s ease-out alternate forwards;}
	@keyframes fruTwo{
		0%{top: 0;}
		100%{top: 100%;}
	}
.sub01-main>ul>li:nth-child(3) img{left: 200px;filter: drop-shadow(5px 5px 5px #755948); 
	animation : fruThree 0.9s ease-out alternate forwards;}
	@keyframes fruThree{
		0%{top: 0;}
		100%{top: 50%;}
	}
.sub01-main>ul>li:nth-child(4) img{left: 0px;filter: drop-shadow(5px 5px 5px #755948); 
	animation : fruFour 0.9s ease-out alternate forwards;}
	@keyframes fruFour{
		0%{top: 0;}
		100%{top: 90%;}
	}
.sub01-main>ul>li:nth-child(5) img{right: 500px;filter: drop-shadow(5px 5px 5px #755948); 
	animation : fruFive 1s ease-out alternate forwards infinite;}
	@keyframes fruFive{
		0%{top: 125%;}
		100%{top: 130%;}
	}
.sub01-main>img,.sub03-main .sub03-title>img{width: 100%;}

/*공지사항*/
.sub03-main .sub03-title{position: relative;}
.sub03-main .sub03-title .sub3in{position: absolute; text-align: center;
		transform: translate(-50%,-50%);top: 60%;left: 50%;}
		.sub03-title .sub3in h1{border-bottom: 2px solid #ec0927;}
		.sub03-title .sub3in p{font-weight: bold;}
.sub03-main .container{margin-bottom: 50px;}
.sub03-main .container ul{margin: 0;padding: 20px 0;}
.sub03-main .container ul li:nth-child(1){float: left;font-size: 1.5em;}
.sub03-main .container ul li span{color: #ec0927;}
.sub03-main .container ul li:nth-child(2){float: right;}
.table tr th,
.table tr td,
.table tr td a{font-family: 'Gothic A1', sans-serif;}

	/*검색*/
	.sub03-main .searchBtn{width: 90px; color: white;font-weight: bold; border-radius: 5px}
	.sub03-main .searchLine{border: 1px solid #979797; border-radius: 5px;}
	.sub03-main button{border: 2px solid #ec0927 !important}