@charset "utf-8";
.blind,legend{display: block; position: absolute; left: 0; top: -9999px;}
fieldset{border: 0 none; margin-bottom: 10px;}

*{font-family: 'Noto Sans KR', sans-serif;}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    background: #fff;
}


/*최상단 서치라인*/
.topWrap{width: 100%; background: #0d72a6;
	background-image:url(images/image_02.jpg);
	background-repeat: no-repeat;
	background-position:center;
	}
.topWrap .top{
	width: 980px; height: 90px;margin: 0 auto; padding-top: 20px;
	position: relative;}
.topWrap .top h2{
	font-size: 40px;
	color: white;position: absolute;left: 0; 
	/*transform: translate(0%,-50%); top: 50%*/
	}
.topWrap .top .topWrap legend label input{	
	border-radius: 15px; background: #fff;
	position: absolute; left: 135px;
	transform: translate(0%,-50%); top: 50%;
	}
.topWrap .top .topWrap .inp-field{
	width: 290px;height: 30px; 
	border: none; border-radius: 15px;
	color: #999;font-size: 16px;
	text-indent: 12px;
	position: absolute; left: 135px;
	transform: translate(0%,-50%); top: 50%;
	text-indent: 80px;}
.search{position: absolute; left: 15%; top: 40%;}
.bogi{
	position: absolute;right: 58%;top: 40%;
	cursor: pointer;}
.topWrap .top p{
	font-weight: bold;
	font-size: 30px;
	color: white;
	position: absolute; right: 150px; 
	transform: translate(0%,-50%); top: 50%;
	}
.topWrap .top ul {
	color: white;position: absolute;right:0; 
	transform: translate(0%,-50%); top: 50%
	}
.topWrap .top ul li{float: left; margin-right: 6px;}
.topWrap .top ul li:last-child{margin-right: none;}

/*상단메뉴*/
.topMenu{border-bottom: 5px solid #0e73a7;}
.topMenu ul{
	width: 900px; height: 60px; margin: 0 auto;
	position: relative;}
.topMenu li{
	float: left;
	width: 148px; height: 60px;
	margin: 0 auto; line-height: 60px;
	border-right: 1px solid #e6e6e6;
	text-align: center;
	z-index: 2;}
.topMenu li:first-child{border-left: 1px solid #e6e6e6;}
.topMenu li a{font-weight: bold;}
.topMenu ul img{position: absolute; top: 15px;left: 550px;}

/*메인콘텐츠*/
.main{
	/*width: 100%;height: 100%; */
	padding-top: 56px;
	background-image:url(images/bg_footer.png),url(images/00bg_dot.gif),url(images/image_01.jpg);
	background-repeat: no-repeat,repeat,no-repeat;
	background-position:bottom,center,center;
	background-size: 100%,auto,cover;
	position: relative;}

.contents{
	width: 980px; height: 1070px; margin: 0 auto;
	_background: red;
	}
.tContents {
	width: 980px; height: 557px; /*border: 2px solid #000;*/
	position: relative; margin-bottom: 15px;}
.category{/*여기다가 호텔예약렌트카휴양지같은거 만들어줌*/
	width: 480px;height: 300px; background:skyblue;
	}
	.pagerWrap{
		position: absolute;top:0;
		width: 150px; height: 300px;
		background:#0097c9; }
	.pagerWrap a{
		display: block;color: #fff;
		width: 150px;height: 77px;
		padding: 25px 0 0 20px;
		font-size: 18px;
	}
	.pagerWrap a.active{
		background: #fff;color: #535353;}
	.category{
		width: 330px;height: 270px;position: absolute;left:150px;}
	/*.category .vli{;}*/

/*--------------------------------↑슬라이드 할때 쓴 스타일↑--------------------------------*/
	/*.formLayer{width: 330px;}*/
	.formLayer{ /*여기!!!!*/
		width: 280px; margin-left: 35px;padding-top: 28px;
		/*line-height: 35px;*/
	}
	.nBtn{
		width: 100%;height: 40px;
		margin: 0 auto;
		background: #e74e1f;
		color: white;
		font-size: 18px;
	}
	.formLayer label{display: block;padding:5px 0;}
    .formLayer select{
      width: 100%;height: 30px;
      border: 2px solid #ededed; color:#c8c8c8;
      text-indent:5px;
   }
   .formLayer input{
      width: 100%;height: 30px;
      color:#c8c8c8; border: 2px solid #ededed;
      font-size:12px;text-indent:5px;
   }





.tContentsTwo{
	width: 460px; height: 523px; _background: blue;
	position: absolute; bottom: 0; right: 0;}
.tContentsTwo>h2{font-size: 60px; position: absolute; z-index: 1;}
.tContentsTwo>p{font-size: 20px; top: 86px;position: absolute; z-index: 1}
	.balloon{
		position: absolute;
		right: 0;top:200px;

		animation-name:bal;
		animation-duration: 1.8s;
		animation-direction: alternate;
		animation-iteration-count: infinite;
		animation-fill-mode: forwards;
		animation-timing-function: ease-in-out;
		}

		@keyframes bal{
			0%{right: 0;top: 200px;}
			100%{right: 0;top: 150px;}
		}
.tContentsTwo>.tContentsTwooo{
		width: 83px;height: 7px; 
		background: #15262f;
		position: absolute;
		top: 77px; left: 232px;}		

.tContentsThree{
	width: 480px; height: 240px; _background: blue;
	position: absolute; bottom: 0; left: 0;}
.tContentsThree>ul>li:first-child{float: left;}
.tContentsThree>ul>li:last-child{float: right;}
	.boxOne, .boxTwo{width: 233px;height: 50px; background: #182932;position: absolute;}
	.boxOne{left: 0;bottom: 0;}
	.boxTwo{right: 0;bottom: 0;}
/*프랑스,일본 카드*/
	.boxOne p {float: left;font-weight: bold; color: white; 
			   margin-left: 20px;line-height: 50px;}
	.boxOne p:nth-child(2){color: #72c568;}
	.boxOne p a{color: #a0aaab;}

	.boxTwo p {float: left;font-weight: bold; color: white; 
			   margin-left: 20px;line-height: 50px;}
	.boxTwo p:nth-child(2){color: #72c568; margin-right: 25px;}
	.boxTwo p a{color: #a0aaab;}

/*상단 공항예약등등*/
.buttons>label{}


/*하단에 카드 8개*/
.bboxOne>li{
	float: left;
	width: 233px; height: 240px; 
	position: relative;
	margin-right: 16px;}
.bboxOne>li:nth-child(4),
.bboxOne>li:nth-child(8){margin-right: 0;}


	.bboxOneWrapConver,
	.bboxTwoWrapConver,
	.bboxThreeWrapConver,
	.bboxFourWrapConver{
		width: 100%;height: 65px; 
		position: absolute; 
		bottom: 0;
		padding: 10px 0 0 18px;
		color: white;
		z-index: 1;
		margin-bottom: 15px;
	} 
	.bboxOneWrapConver{background: #549453;}
	.bboxTwoWrapConver{background: #182932;}
	.bboxThreeWrapConver{background:rgba(0,0,0,0.8);}
	.bboxFourWrapConver{background: #46639e;}

		.bboxThreeWrap{overflow: hidden;}
		.bboxThreeWrap img:hover{
			transform: scale(1.1);
			transition: 0.3s;
			}

		.hugi{position: absolute; padding:26px 0 0 23px;}
		.hugi h5{margin-bottom:21px;}
		.hugi p{font-size: 11px; color: #576ea1; font-weight: bold;}

/*------------5.여행정보-------------*/
/*.bContents{margin-bottom: 30px;}*/
	.bboxFiveWrap,
	.bboxSixWrap,
	.bboxSevenWrap,
	.bboxEightWrap{
		width: 233px; height: 240px;  
		margin-right: 16px;
		color: white;
		position: relative;
		margin-bottom: 30px;
		overflow: hidden;
	}
	.bboxFiveWrapConver,
	.bboxSevenWrapConver{
		width: 233px; height: 240px;
		position: absolute;
		top: -100%;
		text-align: center;
		transition: 0.3s;
	}
	.bboxSixWrapConver,
	.bboxEightWrapConver{
		width: 233px; height: 240px;
		position: absolute;
		top: 100%;
		padding-top: 50px;
		text-align: center;
		transition: 0.3s;
	}
	
	/*호버때깔*/
	.bboxFiveWrapConver{background: rgba(0,161,255,0.4);}
	.bboxSixWrapConver{background: rgba(21,38,47,0.8);}
	.bboxSevenWrapConver{background: rgba(0,0,0,0.5);}
	.bboxEightWrapConver{background: rgba(102,172,142,0.5);}

		.bboxFiveWrapConver h2,
		.bboxSixWrapConver h2,
		.bboxSevenWrapConver h2,
		.bboxEightWrapConver h2
			{padding-top: 30px; margin-bottom: 25px;}

	.bboxFiveWrap:hover .bboxFiveWrapConver,
	.bboxSixWrap:hover .bboxSixWrapConver,
	.bboxSevenWrap:hover .bboxSevenWrapConver,
	.bboxEightWrap:hover .bboxEightWrapConver
	{top: 0;}
	
	.bboxFiveWrap:hover,
	.bboxSixWrap:hover,
	.bboxSevenWrap:hover,
	.bboxEightWrap:hover{
			transform: scale(1.1);
			transition: 0.3s;
		}
	/*아이콘*/
	.material-icons{
		scale (1.2);
	}

	.plus_i{
		position: absolute;
		top: 20%;left: 50%;
		transform: translate(-50%,-50%);
		z-index: 1;
		transition: 0.5s;
	}
	.bboxFiveWrap:hover .plus_i,
	.bboxSevenWrap:hover .plus_i{
		transform: translate(-50%,-50%) rotate(180deg);
		top: 80%;
	}

	.plus_ii{
		position: absolute;
		top: 80%;left: 50%;
		transform: translate(-50%,-50%);
		z-index: 1;
		transition: 0.5s;
	}

	.bboxSixWrap:hover .plus_ii,
	.bboxEightWrap:hover .plus_ii{
		transform: translate(-50%,-50%)  rotate(180deg);
		top: 20%;
	}

/*company style*/
/*===================================서브 페이지===================================*/
.sub{width: 100%;height: 1000px; background: #efefef;}
.sub>.nyam{
	width: 100%;height: 290px; 
	padding-top: 154px;
	background-image:url(images/00bg_dot.gif),url(images/subimg01.jpg);
	background-repeat: repeat,no-repeat;
	background-position:center;
	background-size: auto,cover;
	position: relative;
	/*이거 조절하다가 말음*/
}
.sub>div>img{
		position: absolute;
		top: 35%;left: 50%;
		transform: translate(-50%,-50%) scale(0.8);
		}
.sub>div>p{
		position: absolute;
		top: 50%;left: 50%;
		transform: translate(-50%,-50%) ;
		color: white;
		}
.sub>p>span{font-weight: bold;}

.sub>.toppic{position: relative;}
.sub>.toppic>img{
	position: absolute;
	top: 300px;}


/*footer*/
footer{
	width: 980px; margin: 0 auto;
	padding: 30px 0;
	}
footer ul li{float: left; margin-right: 25px;}	
footer ul li:nth-child(2){font-weight: bold; mb14}
footer p{color: #757575; font-size: 8px;}


