@charset "utf-8";
/*header*/
header#header{
	width: 100%;
	height: 160px;
	background: #0044af;
	}
.TtopWrap{
	width: 1200px;
	line-height: 40px;
	margin: auto;
	}
.TtopOne {width: 400px; float: left;}
.TtopOne li{
	float: left;
	background: #00163b; 
	width: 120px;height: 40px;
	margin-right: 2px;
	text-align: center;
	 }
.TtopOne li a{
	color: white;
	display: block;
	line-height: 40px;
	}
.TtopOne li a:hover{
	color: black;
	background: white;
	display: block;
	line-height: 40px;}

.TtopTwo{
	width:320px;
	float: right;
	_background:#f00;

	}
.TtopTwo li {
	float: left;
	padding-left: 10px;
	font-size: 13px;
	}
.TtopTwo a{
	color: white;
	}
.TtopTwo li img{padding: 7px 0;}


/*한국대 로고*/
.BtopWrap {
	width: 100%;
	background-color: #fff;}
.Btop {
	width: 1200px;
	padding:38px 0;
	margin: 0 auto;
	background: white;
	}
.Btop a{float: left;}
.Btop ul{
	float: right; line-height: 40px;}
.Btop li{float: left; padding-left: 50px;}


/*contents*/
#contents{
	height: 1300px;
	background-image:url(../images/00bg_dot.gif), url(../images/00main_bg01.jpg);
	background-repeat: repeat,no-repeat;
	background-position:center;
	background-size:auto,cover;
	}

/*title*/
#contents .title{
	width: 1200px;height: 260px;_background:yellow;
	margin:auto;
}
.titleMainTxt{
	float: left; color: white;
	padding-top: 90px;
	font-size: 40px;
	}
.titleMainTxt h1{letter-spacing: -10px;}
.title ul{float: right;
	padding-top: 100px;}
.title li{
	float: left; margin-right: 20px;}
.title a{color: white; text-align: center;}
.title p{text-align: center; padding-top: 10px;}

.sliderTxt {
	position: absolute;top: 80px;left: 60px;
	color: #1752ba; font-size: 3.2em; line-height: 60px;}
.sliderTxt p{margin-bottom: 27px;}
.sliderTxt span{font-weight: bold;}
.sliderTxt h3 {
	font-size: 15px; 
	width: 168px; height: 40px;
	background: #192d4e;
	text-align: center;
	}
.sliderTxt a {color: white;}

.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    background: #fff;
}
/*하단 bx버튼*/
/*.bx-wrapper .bx-prev {
    left: 10px;
    background: url(images/btn_04.jpg) no-repeat;
}*/



/*contents*/
#contents .container{width: 1200px;margin:auto;}
#contents .container>ul>li{float: left;width: 25%;height:225px;position: relative;}

#contents .container>ul>li:nth-child(1){background: #f00;width: 75%;height: 450px;}
/*----------------------------------------------------------------*/
#contents .container>ul>li:nth-child(2){background: blue; height: 450px;}
	.container .containerTwo{
		width: 220px; height: 300px; margin: 0 auto;
		color: white;position: absolute;top: 80px;
		left: 45px;font-size: 18px;}
	.container .containerTwo h3 a{
		width: 170px;height: 40px;
		text-align: center;	border: 1px solid #fff;
		color:#fff; padding: 3px; background: #000; opacity: 0.8; 
		position: absolute;bottom: 10px;}
/*----------------------------------------------------------------*/
#contents .container>ul>li:nth-child(3){background: #00163b; color: #fff; padding: 20px 0 0 30px;}
	.container>ul> li:nth-child(3) a {
		float: left; color: #fff; text-align: center; padding: 15px 20px 20px 0;
		}
	.container>ul> li:nth-child(3) p{padding-top: 10px;}
/*----------------------------------------------------------------*/
#contents .container>ul>li:nth-child(4){background: #1651b7; color: #fff; padding: 20px 0 ;}
	.containerFour {color: white; width: 260px; margin: 0 auto; line-height: 25px;} 
	.containerFour h2 {margin-bottom: 25px;}
	.nomalBox {width: 100%;height: 2px; background: #fff;margin-bottom: 20px;}
	.container .containerFour .containerFourL{float: left;}
	.container .containerFour .containerFourR{float: right;}
/*----------------------------------------------------------------*/
#contents .container>ul>li:nth-child(5){background: #fff; padding: 20px 0;}
	.containerFive h2 {color: #00193c; margin-bottom: 25px;}
	.containerFive { width: 260px; margin: 0 auto;} 
	.containerFive .containerFiveBox img{float: left;}
	.containerFive .containerFiveBox p{float: right; padding-right: 10px; line-height: 20px;}
	.containerFive .snsBoxR {float: right;}
	.containerFive .snsBoxR img{float: left; padding-top: 22px;}
/*----------------------------------------------------------------*/
#contents .container>ul>li:nth-child(6){background: skyblue;}
	.containerSix {background-color: black; opacity: 0.8; 
				position: absolute; bottom: 0px; width: 100%;}
	.containerSix h4{text-align: center; color: white; line-height: 50px;}
	
/*----------------------------------------------------------------*/
#contents .container>ul>li:nth-child(7){background: orange;}
	.containerSeven p img {position: absolute; top: 80px; left: 120px;}
/*----------------------------------------------------------------*/
#contents .container>ul>li:nth-child(8){background: aqua;width: 75%; margin-bottom: 20px;}
	#contents .container>ul>li:nth-child(8) p{width: 168px;height: 40px;
		background: #fd4e42; position: absolute; top: 155px; left: 40px; 
		border: 1px solid #fff; text-align: center; line-height: 40px;}
	#contents .container>ul>li:nth-child(8) a{color: white; }

/*하단 라인콘텐츠*/
.bottomTbar{width: 1200px; margin: 0 auto;}
	.bottomTbarOne{float: left; width: 25%; height: 60px; background: white;border-right: 1px solid #000;}
	.bottomTbarOne h3{float: left;line-height: 60px; padding-left: 30px;}
	.bottomTbarOne p{float: right;line-height: 60px; padding-right: 30px;}
	.bottomTbarOne h3,
	.bottomTbarOne p{font-size: 17px; font-weight: bold;}
	/*.bottomTbarOneBOX{width: 1px;background: #eee;}*/

	.bottomTbarTwo{ position: relative; float: left;width: 75%; height: 60px; background: blue; line-height: 60px;}
	.bottomTbarTwo li{padding-left: 70px;}
.bxBtn{position: absolute; top: 0; right: 0;}
/*footer*/
footer{
	height: 200px;
	width: 100%;
}
footer#footer{width: 700px; margin: 0 auto; font-size: 10px;}
footer#footer ul li{width: 116px; float: left;  padding: 28px 0;font-weight: bold;}
footer#footer p{color: #797979;line-height: 15px;}



/*etc*/
.smallFZ{font-size: 12px;}
.lBtn{margin-bottom: 2px;}