@charset "utf-8";

/*reset*/
*{margin: 0; padding: 0; box-sizing: border-box; color: #333;
	font-family: 'Gothic A1', sans-serif;}
a:visited,a:link{color: #333 !important; text-decoration: none !important;}
li{list-style: none;}
.clearfix:after{content: "";display: block;clear: both;}
img{display: block;}
html{scroll-behavior: smooth;} /*스무스스크롤*/

/*요소*/
.bg-sGray{background: #f0f0f0;}
.bg-sBlack{background: #151515;}
.t-color1{color: #4cc176}
.t-color2{color: #ff26a5}
.t-color3{color: #ec0927}

.pt-10,.py-10 {padding-top: 6rem !important;}
.pb-10,.py-10 {padding-bottom: 6rem !important;}


/*제작*/

/*탑*/
.bg-sBlack .container{position: relative;}
.bg-sBlack .container p{display: block;color: white;
	position: absolute;right: 0;
	transform: translateY(-50%);top: 50%;}
/*보틈*/
.badak{width: 100%;height: 50px; background: #151515; 
	position: fixed; bottom: -50px; z-index: 10;
	animation: badak 1s ease-out 0.5s alternate forwards;}
	@keyframes badak{
		0%{bottom: -50px;}
		100%{bottom: 0px;}
	}
.badak .badak_in {width: 280px; margin: 0 auto;}
.badak ul{margin: 0; position: relative;}
.badak ul li{line-height: 50px;margin-right: 20px;float: left; padding: 7px 0;}
.badak ul li img:hover{animation : star 0.7s ease-out forwards;}
	@keyframes star{
		0%{transform: rotate(0);}
		80%{transform: rotate(210deg);}
		90%{transform: rotate(170deg);}
		100%{transform: rotate(180deg);}
	}
/*탑버튼*/
.badak>a>img{position: fixed;right: 40px;z-index: 20;
	filter: drop-shadow(1px 1px 1px #252525);
	animation: top_bt 1s ease-out alternate forwards infinite;}
	@keyframes top_bt{
		0%{bottom: 13px;}
		100%{bottom: 3px;}
	}
.badak>a>img:hover{transform: scale(1.2);}

/*메인*/
.main{background-image: url(../images/bg_patten.png);}
.main .container{width: 100%;height: 900px; position: relative;}
.main .container img {position: absolute; 
	transform: translate(-50%,-50%);top: 50%;left: 50%; opacity: 0;
	animation: logo_ani 1s ease-out 1.2s alternate forwards;}
	@keyframes logo_ani{
		0%{top: 45%; opacity: 0;}
		100%{top: 50%;opacity: 1;}
	}
	

/*페이지리스트*/
.page-list .container>h1{font-weight: 800; font-size: 50px;}
.page-list .container li{position: relative; height: 500px;}
.page-list .container li a{position: absolute;transform: translateX(-50%);left: 50%;}
.page-list .container li a:hover{filter: drop-shadow(2px 2px 2px #252525); transition: 0.3s;
	animation : updown 0.5s ease-out alternate forwards infinite;}
	@keyframes updown{
		0%{top: 0%;}
		100%{top: -3%;}
	}
.page-list .container li>p{width: 100%; position: absolute; bottom: 0; text-align: center;
	font-weight: 500; font-size: 24px;
	text-shadow: -2px 0 #fff,
				  0 2px #fff,
				  2px 0 #fff,
				  0 -2px #fff; 
	filter: drop-shadow(2px 2px 1px #252525);
	margin-bottom: 0;}
.page-list .container li .page-cont{
	position: absolute; z-index: 1; 
	transform: translate(-50%,-50%);top: 55%;left: 50%; width: 170px;
}
.page-list .container li .page-cont h4{
	color: #00fcff; font-size: 24px; letter-spacing: -2px;
	text-align: center;font-weight: 800;
	margin-bottom: 25px;
}
.page-list .container li .page-cont p{
	color: white; font-size: 18px; letter-spacing: -1px; 
	text-align: center;font-weight: 500;
}

/*사이트_목업 디폴트*/
.cont-mok li{position: relative;}
.cont-mok li img{width: 100%;}
.cont-mok li h1{font-size: 50px;font-weight: 800;letter-spacing: -2px;}
.cont-mok li h1 span{font-size: 24px;}
.cont-mok li a{font-weight: bold; color: #4a4a4a; font-size: 18px;letter-spacing: -1px;line-height: 50px;}
.cont-mok li a:hover{opacity: 0.4;transition: 0.3s;}
.cont-mok li p{letter-spacing: -1px; line-height: 27px;}
.cont-mok li>span{position: absolute;right: 0; font-size: 200px;bottom: -120px; font-style: italic;font-weight: bold;
	opacity: 0.2;}

	/*사이트1_CSS*/ 
	.contOne{border-bottom: 10px solid #4cc176;}/*라인*/
	.contTwo{border-bottom: 10px solid #ff26a5;}/*라인*/
	.contThree{border-bottom: 10px solid #ec0927;}/*라인*/

/*사이트_스타일 디폴트*/
.cont-style>ul>li{padding: 0; position: relative;}
.cont-style .row{margin: 0;}
.cont-style ul li img{width: 100%;}
.cont-style .style-in{position: absolute;transform: translate(-50%,-50%); top: 50%;left: 50%;}
.style-in h1{margin-bottom: 30px;}
.style-in div{float: left; padding: 0 10px;}
.style-in ul li:nth-child(2n){float: right;}
.style-in h1{font-size: 50px;font-weight: 800;letter-spacing: -2px;}
.style-in h5{font-weight: bold; color: #4a4a4a; font-size: 18px;letter-spacing: -1px;}
.style-in p{letter-spacing: -1px; line-height: 27px;}
.style-in img{filter: drop-shadow(2px 2px 1px #252525);}