@charset "utf-8";
/**{background: gray;}*/
.topWrap{
	width: 1260px; height: 50px;
	margin: 0 auto;
	padding-top: 40px;
	position: relative;}
.topWrap>img{position: absolute; left: 0;}
.topWrap>ul{position: absolute;right: 0;}
.topWrap>ul>li{
	float: left; margin-right: 60px;
	line-height: 50px;}
.topWrap>ul>li>a{
	font-weight: bold;
	_color: white;}

	.langBox>ul{
		float: right;
		width: 100px;height: 100px;}
	.langBox>ul>li{
		width: 50px;height: 50px;
		background: #b8307c;
		border: 1px solid #b8307c;
		float: right; text-align: center;}
	.langBox>ul>li>a{
		color: white; line-height: 50px;
		font-weight: bold;}